@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
    font-size: 1.7rem;
    background-image: linear-gradient(to bottom, whitesmoke, #333);
}

body{
    min-height: 100vh;
    max-width: 1800px;
    border: 1px solid #333;
    background-color: whitesmoke;
    margin: 0 auto;
    box-shadow: 0 0 10px #333;
}

.header{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    background-color: #333;
    align-items: center;
    border-radius: 20px;
}

.header__nav{
    background-color: #333;
    color: whitesmoke;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

.header__ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 1rem;
    padding: 15px;
}

.header__a{
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
}

.header__a:hover,
.header__a:focus {
    text-decoration: none;
    color: dodgerblue;
}

.main {
    display: flex;
    background-color: #bba9a9;
    border-radius: 20px;
    padding: 50px;
    margin: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__h1{
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    font-family: "Fugaz One", sans-serif;
}

.about__h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2.2rem;
    font-family: "Fugaz One", sans-serif;
}

.form div button{
    width: 25%;
    height: 4vh;
    font-size: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
    font-family: "Fugaz One", sans-serif;
    text-align: center;
}

.form div button:hover,
.form div button:focus{
    color: #666;
}

.about__p{
    line-height: 1.5;
    font-size: 1.3rem;
    margin-left: 40px;
}

.about__ul{
    display: flex;
    flex-direction: row;
}

.about__ul li{
    margin: 0 20px 0 20px;
}

.about__a{
    color: #333;
}

.about__a:hover,
.about__a:focus{
    color: whitesmoke;
    text-decoration: none;
}

.form{
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.form input{
    width: 100%;
    border-radius: 20px;
    color: black;
    background-color: whitesmoke;
    height: 4vh;
    font-size: 30px;
    padding: 10px;
}

.form textarea{
    border-radius: 20px;
    font-size: 30px;
    width: 100%;
    padding: 20px;
}

.form label{
    font-weight: bold;
    font-size: 2rem;
    font-family: "Fugaz One", sans-serif;
}

.nowrap{
    white-space: nowrap;
}

footer{
    background-color: #333;
    border-radius: 20px;
    margin: 40px;
}

footer p{
    color: whitesmoke;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
}

.three{
    display: flex;
    width: 1500px;
    height: auto;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

.three div{
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 40px;
    background-color: whitesmoke;
    align-items: center;
    flex-direction: column;
}


.three div img{
    border: 3px solid #000;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, whitesmoke, rgb(161, 177, 194));
    border-radius: 15px;
}

.three div h3{
    font-family: "Sankofa Display", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}

.three div p{
    text-align: center;
    font-size: 0.8rem;
}

.three div:hover{
    background-image: linear-gradient(to bottom, whitesmoke, rgb(238, 212, 64));
    transition: all 10s ease;
}

.three div form button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.three div form button img {
    display: block;
}

.quiz__form h2{
    font-family: "Fugaz One", sans-serif;
    font-size: 2.2rem;
    text-align: center;
    margin: 40px;
}

.quiz__form label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: whitesmoke;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer; /* Kullanıcıya tıklanabilir olduğunu göstermek için */
}

.quiz__form input[type="radio"] {
    display: none; /* Radyo butonlarını gizleyin */
}

.quiz__form input[type="radio"]:checked + span {
    background-color: blue; /* Seçili radyo butonunun arka plan rengi */
    color: white; /* Metin rengini beyaz yaparak okunabilirliği artırır */
}

.quiz__form label:hover {
    background-image: linear-gradient(to left, whitesmoke, dodgerblue); /* Fare ile üzerine gelindiğinde arka plan rengi */
}

.quiz__form label span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: whitesmoke;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    border-radius: 30px;
    padding: 5px;
}

.quiz__form .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz__form .buttons button{
    width: 25%;
    height: 4vh;
    font-size: 30px;
    border-radius: 20px;
    font-family: "Fugaz One", sans-serif;
    text-align: center;
    margin: 40px;
}

.quiz__form .buttons .next{
    background-color: rgb(90, 171, 252);
    color: whitesmoke;
}

.quiz__form .buttons .finish{
    background-color: rgb(245, 248, 42);
    color: rgb(59, 53, 44);
}

.result__a{
    color: #000;
    margin-top: 40px;
}

.result__a:hover,
.result__a:focus{
    text-decoration: none;
    color: #333;
}

.about__button{
    width: auto;
    height: 4vh;
    font-size: 30px;
    border-radius: 20px;
    font-family: "Fugaz One", sans-serif;
    text-align: center;
    margin: 40px;
    white-space: nowrap;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.about__button:hover,
.about__button:focus{
    background-image: linear-gradient(to bottom, whitesmoke, dodgerblue);
}

.main h2{
    margin-bottom: 40px;
}

.main .two{
    display: flex;
    flex-direction: row;
}

.main .two div{
    margin: 0 50px 0 50px;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 40px;
}

.main .two div h3{
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.main .two div p{
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
}