<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="kcorrai">
    <meta name="description" content="Home Page of Quiz Website">
    <title>KCORQUIZ | Home Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/logo.jpg">
</head>
<body>
    {% block content %}
    <header class="header">
        <img src="../static/images/logo-nobg.png" alt="KCORQUIZ logo" width="400">
        <nav class="header__nav">
            <ul class="header__ul">
                <li>
                    <a class="header__a" href={{'/'}}>Home</a>
                </li>
                <li>
                    <a class="header__a" href={{'/contact'}}>Contact</a>
                </li>
                <li>
                    <a class="header__a" href={{'/about'}}>About</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="three">
            <div>
                <a href=""><img src="../static/images/sports.png" alt="sport-quiz-logo" width="200" height="200"></a>
                <h3>Sport Quiz</h3>
                <p>Test your <b>sports knowledge</b> with questions about athletes, teams, and major events.</p>
            </div>
            <div>
                <a href=""><img src="../static/images/microphone.png" alt="pop-culture-quiz-logo" width="200" height="200"></a>
                <h3>Pop Culture Quiz</h3>
                <p>Test your knowledge of the <b>latest trends</b> and <b>iconic moments</b> from movies, music, and more.</p>
            </div>
            <div>
                <a href=""><img src="../static/images/parchment.png" alt="history-quiz-logo" width="200" height="200"></a>
                <h3>History Quiz</h3>
                <p>Explore key events, figures, and milestones from the past with our <b>engaging history</b> quiz.</p>
            </div>
        </div>
        <div class="three">
            <div>
                <a href=""><img src="../static/images/research.png" alt="literature-quiz-logo" width="200" height="200"></a>
                <h3>Literature Quiz</h3>
                <p>Dive into the world of <b>classic</b> and <b>contemporary</b> literature with our quiz.</p>
            </div>
            <div>
                <a href=""><img src="../static/images/chemistry.png" alt="science-quiz-logo" width="200" height="200"></a>
                <h3>Science Quiz</h3>
                <p>Challenge your understanding of <b>scientific</b> concepts, discoveries, and innovations.</p>
            </div>
            <div>
                <a href=""><img src="../static/images/globe.png" alt="geography-quiz-logo" width="200" height="200"></a>
                <h3>Geography Quiz</h3>
                <p>Test your knowledge of countries, capitals, landmarks, and physical features.</p>
            </div>
        </div>
    </main>
    <footer>
        <p>
            <span class="nowrap">Copyright &copy; 2024</span>
            <span class="nowrap">KCORQUIZ</span>
        </p>
    </footer>
    {% endblock %}
</body>
</html>